<!doctype html>
<head>
    <%- include('./partials/head'); %>
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="/static/feed.css">
</head>
<body>
	<%- include('./partials/menu'); %>
    <div class="body-feed">
        <div class="row-feed">
            <div class="col-md-3-side-left"> <!--INICIO MENU ESQUERDO-->
                
                <%- include('./partials/user-area'); %>
                <div class="dados-perfil">
                    <span id="nomeUserPerfil"> </span>
                    <span id="sobrenomeUserPerfil"></span>
                
                    <p id="escolaridadeUser"></p>

                    <span id="cidadeUser"></span>
                    <span id="estadoUser"></span>
                </div>
                <div class="button-side">
                    <a href= "http://localhost:8080/editar-perfil"><input class="button-profile" type="button" value="Editar Perfil"></a>
                </div>
                <%- include('./partials/win-area'); %>
            </div> <!--FIM MENU ESQUERDO-->
            
            <div class="col-md-6-feed"> <!--INICIO FEED-->
              <div class="head-feed">
               <%- include('./partials/competence-area'); %> 
                <%- include('./partials/create-publication'); %>
                <div class="feed-updates-zone">
                    <!--feed de noticias -->
                </div>
              </div>
            </div> <!--FIM FEED-->
            
            <div class="col-md-3-side-right"> <!--INICIO MENU DIREITO-->
                <%- include('./partials/recommendation-area'); %>  
                <%- include('./partials/friends-zone'); %>  
            </div>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
   // var tokenSalvo = localStorage.getItem('token');
    axios.get('http://localhost:4000/user').then(response => {
        var user = response.data;
        // escolaridadeUser
        var span = document.getElementById('nomeUserPerfil');
        span.innerHTML = user.nome;
        var span1 = document.getElementById('sobrenomeUserPerfil');
        span1.innerHTML ='  ' + user.sobrenome;
        var span2 = document.getElementById('cidadeUser');
        span2.innerHTML = user.cidade;
        var span3 = document.getElementById('estadoUser');
        span3.innerHTML =' - ' + user.estado;
        var p = document.getElementById('escolaridadeUser');
        p.innerHTML = user.escolaridade;
        

    }).catch(err =>{
        console.log(err);
    })
</script>
</body>
</html>
